name: Test
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [17]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build checkstyleMain test publishToMavenLocal --stacktrace
